@import "color";

//HEADER

.header {
    background: linear-gradient(rgba(115, 104, 41, 45), rgba(244, 232, 161, 96));
    background-blend-mode: exclusion;
    background-size: cover;
    background-position: right;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    &__image-component {
        width: 20px;
       // height: 20px;
    }

}


// NAVBAR

.navbar {
    padding: 70px 10px;
    //background: #4183c4;;
    display: flex;
    justify-content: space-between;
    
    
}

.navbar, .navbar-brand {
    color: #fff;
    font-size: 2rem;
}

.navbar-brand:hover {
    color: white;
}