@import "color";

//HEADER

.header {
    background: linear-gradient(rgba(115, 104, 41, 45), rgba(244, 232, 161, 96));

    display: flex;
    flex-direction: column;
    align-items: center;

    &__image-component {
        width: 104px;
       // height: 20px;
    }

}


// NAVBAR

.navbar {
    padding: 70px 10px 35px;
    //background: #4183c4;;
    display: flex;
    justify-content: space-between;
    
    
}

.navbar, .navbar-brand {
    color: #fff;
    font-size: 2rem;
}

.navbar-brand:hover {
    color: white;
}