h1, h2 {
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
}

.navbar {
    padding: 20px;
    margin-bottom: 20px;
    background: #4183c4;;
    display: flex;
    color: white;
    justify-content: space-between;
}

.navbar, .navbar-brand {
    color: white;
    font-size: 2rem;
}

.navbar-brand:hover {
    color: white;
}

.list-container {
    padding-left: inherit;
}
.list {
    text-align: center;
    list-style-type: none;
    font-size: 1.5rem;
    padding-bottom: 0.5em;
}

.list-link:hover {
    color: rgb(131, 130, 130);
}

.card {
    margin: auto !important;
}