h1, h2 {
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
}

.navbar {
    padding: 20px;
    margin-bottom: 20px;
    background: blue;
    display: flex;
    color: white;
    justify-content: space-between;
}

.navbar, .navbar-brand {
    color: white;
    font-size: 2rem;
}

.navbar-brand:hover {
    color: white;
}